<div class="brand_color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Cars</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="brand"></div>
<div class="brand-bg" id="brand-bg">

    <div class="location" id="location">
        <div id="map">

        </div>
    </div>

    <div class="filters">
        <div class="container-filters">
            <div class="col-md-12">
                <h2 class="title-filters">Por marcas</h2>
                <select ng-model='brandSelected' ng-change="getModels()" class="form-control" name="marca" id="marca" style="height: 54px;">
                    <option value="Allbrand" selected="selected">Seleccione todas las marcas</option>
                    <option ng-repeat="item in brands" value="{{item.id_brand}}">{{item.name_brand}}</option>
                </select>
            </div>
            <div class="col-md-12">
                <h2 class="title-filters">Por modelos</h2>
                <select ng-model='modelSelected' ng-change="loadCarsForModel()" class="form-control" name="modelo" id="modelo" style="height: 54px;">
                    <option value="Allmodels" selected="selected">Seleccione todos los modelos</option>
                    <option ng-repeat="item in modelos" value="{{item.id_model}}">{{item.name_model}}</option>
                </select>
            </div>
            <div class="col-md-12">
                <h2 class="title-filters">Por colores</h2>
                <select ng-model="colorSelected" ng-change="loadCarsForColor()" class="form-control" name="color" id="color" style="height: 54px;">
                    <option value="Allcolors" selected="selected">Seleccione todos los colores</option>
                    <option ng-repeat="item in colors" value="{{item.color}}">{{item.color}}</option>
                </select>
            </div>
            <div class="col-md-12">
                <h2 class="title-filters">OrderBy</h2>
                <select ng-model='orderSelected' ng-change="loadCarsForOrder()" class="form-control" name="orderBy" id="orderBy" style="height: 54px;">
                    <option value="def">More visited</option>
                    <option value="price">Price</option>
                    <option value="km">Km</option>
                </select>
            </div>
            <div class="col-md-12 read-more" id="remove-filters" ng-click="removeFilters()">Remove filters</div>
        </div>
    </div>

    <div class="container" id="containerCar">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin" ng-repeat="item in infocars">
                <div class="brand_box" id="1">
                    <div class="containerDet" id="{{item.id_car}}" ng-click="loadDetails()">
                        <img src="frontend/{{item.photo_car}}">
                        <h3>{{item.name_brand}} {{item.name_model}}</h3>
                        <span>{{item.price}}</span>
                    </div>
                    <div id="like-box" idlike="like-box-1" class="{{item.fav_class}}" ng-click="clickFav()"><i class="fa fa-heart fa-lg" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div ng-if="notFound == true" class="notFoundCars">
            <h1>Cars not found</h1>
        </div>
    </div>

</div>

<div class="containerpagbutt" id="containerpagbutt">
    <div ng-click="pagLess()" class="buttpagination" id="buttonprev">&lt;</div>
    <div class="containernumpage" id="containernumpage">
        <p id="conttextpagination" class="conttextpagination">{{actualpage}} / {{pages}}</p>
    </div>
    <div ng-click="pagMore()" class="buttpagination" id="buttonpost">&gt;</div>
</div>