<div class="brand_color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Brands</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="brand"></div>
<div class="container">
    <div class="swiper row">
        <div class="swiper-wrapper" id="logo">

            <div class="swiper-slide m-slider__item" ng-repeat="item in list_brands">
                <div class="m-card" id="{{ item.id_brand }}" ng-click="redirect()">
                    <div class="m-card__header" ng-style="{'background-image':'url(frontend/{{ item.photo_brand }})'}"></div>
                    <div class="m-card__body">{{ item.name_brand }}</div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="brand_color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Bodywork</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="brand"></div>
<div class="container">
    <div class="swiper row">
        <div class="swiper-wrapper" id="logo">
            <div class="swiper-slide m-slider__item" ng-repeat="item in list_bodywork">
                <div class="m-card" id="{{ item.id_bodywork }}" ng-click="redirect()">
                    <div class="m-card__header" ng-style="{'background-image':'url(frontend/{{ item.photo_bodywork }})'}"></div>
                    <div class="m-card__body">{{ item.name_bodywork }}</div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="brand_color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Categories</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="brand"></div>
<div class="about">
    <div class="container">
        <div class="row" ng-repeat="item in list_categories" ng-click="redirect()">

            <!-- OP 1 -->
            <div ng-if="$index % 2 == 0" class="col-xl-5 col-lg-5 col-md-5 co-sm-l2">
                <div class="about_img">
                    <figure>
                        <img src="frontend/{{item.photo_category}}" id="{{item.id_category}}" class="clicktoredirect categoryredirect">
                    </figure>
                </div>
            </div>
            <div ng-if="$index % 2 == 0" class="col-xl-7 col-lg-7 col-md-7 co-sm-l2">
                <div class="about_box">
                    <span>{{item.name_category}}</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc efficitur odio sed risus eleifend, non pharetra lectus tempus. Morbi facilisis massa at consectetur vestibulum. Pellentesque finibus eleifend libero, eget laoreet.</p>
                </div>
            </div>

            <!-- OP 2 -->
            <div ng-if="$index % 2 == 1" class="col-xl-7 col-lg-7 col-md-7 co-sm-l2">
                <div class="about_box_">
                    <span>{{item.name_category}}</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc efficitur odio sed risus eleifend, non pharetra lectus tempus. Morbi facilisis massa at consectetur vestibulum. Pellentesque finibus eleifend libero, eget laoreet.</p>
                </div>
            </div>
            <div ng-if="$index % 2 == 1" class="col-xl-5 col-lg-5 col-md-5 co-sm-l2">
                <div class="about_img">
                    <figure>
                        <img src="frontend/{{item.photo_category}}" id="{{item.id_category}}" class="clicktoredirect categoryredirect">
                    </figure>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="brand_color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>News</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="brand"></div>
<div class="brand-bg" id="brand-bg">
    <div class="container" id="containerCar">
        <div class="row" infinite-scroll="moreNews()" infinite-scroll-distance="0.1">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin" ng-repeat="item in news">
                <div class="brand_box" id="1">
                    <div class="containerDet">
                        <img src="{{item.image}}">
                        <h3>{{item.title}}</h3>
                        <span>{{item.description}}</span>
                    </div>
                    <div id="remove-filters">Ver noticia</div>
                </div>
            </div>
        </div>
    </div>
</div>