<div class="container-login">
    <div class="main-login"><input type="checkbox" id="chk" aria-hidden="">
        <div class="login">
            <form class="form-login" id="form-login">
                <label for="chk" aria-hidden="true">Login</label>
                <input type="text" ng-model="nameLogin" name="name" placeholder="User name" required="" id="name-login" style="height: 30px;">
                <span id="e_name_login" class="error">{{error_name_login}}</span>
                <input type="password" ng-model="passwordLogin" name="passwd" placeholder="Password" required="" id="passwd-login" style="height: 30px;">
                <span id="e_passwd_login" class="error">{{error_password_login}}</span>
                <input id="login-butt" ng-click="login()" type="button" value="Login">
                <div class="div-socialLogin">
                    <i class="fa fa-github" id="git_login" aria-hidden="true"></i>
                    <i class="fa fa-google-plus" id="google_login" aria-hidden="true"></i>
                </div>
            </form>
        </div>
        <div class="signup">
            <form class="form-signup" id="form-signup"><label for="chk" aria-hidden="">Register</label>
                <div id="container-register">
                    <input type="text" name="name" placeholder="User name" required="" id="name-register" style="height: 30px;">
                    <span id="error_name" class="error"></span>
                    <input type="email" name="email" placeholder="Email" required="" id="email-register" style="height: 30px;">
                    <span id="error_email" class="error"></span>
                    <input type="password" name="passwd" placeholder="Password" required="" id="passwd-register" style="height: 30px;">
                    <span id="error_passwd" class="error"></span>
                    <input type="password" name="passwd2" placeholder="Repeat password" required="" id="passwd2-register" style="height: 30px;">
                    <span id="error_passwd2" class="error"></span>
                </div>
                <input id="register-butt" type="button" value="Register"></form>
        </div>
    </div>
</div>
</div>