<div class="brand_color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Recover password</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact" ng-if="changePasswd == false">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form id="sendEmail_recover" name="sendEmail_recover" class="main_form">
                    <div class="row">
                        <div class="col-md-12">
                            <input ng-model="$root.recoverEmail" class="form-control" placeholder="Escribe tu correo electronico" type="text">
                        </div>
                        <div class=" col-md-12">
                            <button id="sendContact" class="send" id="send-email-recover" ng-click="sendEmailRecover()">Send</button>
                        </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact" ng-if="changePasswd == true">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form id="sendEmail_recover" name="sendEmail_recover" class="main_form">
                    <div class="row">
                        <div class="col-md-12">
                            <input ng-model="$root.recoverPasswd" class="form-control" placeholder="Introduce la nueva contraseña" type="password">
                            <span id="e_passwd_recover" class="error_recover">{{error_recover1}}</span>
                        </div>
                        <div class="col-md-12">
                            <input ng-model="$root.recoverPasswdRepeat" class="form-control" placeholder="Repita la contraseña" type="password">
                            <span id="e_passwd2_recover" class="error_recover">{{error_recover2}}</span>
                        </div>
                        <div class=" col-md-12">
                            <button id="sendContact" class="send" id="send-email-recover" ng-click="changePasswdFunc()">Send</button>
                        </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>