<header>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <a href="../../index.php"><img src="frontend/view/img/logo.png" alt="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                    <div class="menu-area">
                        <div class="limit-box">
                            <nav class="main-menu">
                                <ul class="menu-area-main">
                                    <li class="active"> <a href="#/home">Home</a> </li>
                                    <li><a href="#/shop">Shop</a></li>
                                    <li> <a href="#/contact">Contact us</a> </li>
                                    <li ng-if="loginOrLogout == 'login'"> <a href="#/login">Login</a> </li>
                                    <li>
                                        <div ng-if="loginOrLogout == 'logout'" id="menu-area-main" style="background-image: url({{infoUser.avatar_user}}); height: 50px; width: 50px;">
                                            <div id="container-info-user">
                                                <div id="see-profile" class="info-user">Profile</div>
                                                <div ng-click="logout()" id="butt-logout" class="info-user">Logout</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div id="menu-area-main">

                                        </div>
                                    </li>
                                    <li class="last">
                                        <a href="#"><img /></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="container-serch-bar" id="container-serch-bar">
                    <div class="col-md-3">
                        <select ng-model="catSearchSelect" ng-change="getInfoSearch()" class="form-control" name="category" id="category-search" style="height: 54px;">
                        <option value="Allcategories">Category</option>
                        <option ng-repeat="item in catSearch" value="{{item.id_category}}">{{item.name_category}}</option>
                    </select>
                    </div>
                    <div class="col-md-3">
                        <select ng-model="brandSearchSelect" ng-change="getInfoSearch()" class="form-control" name="brand" id="brand-search" style="height: 54px;">
                        <option value="Allbrand">Brands</option>
                        <option ng-repeat="item in brandSearch" value="{{item.id_brand}}">{{item.name_brand}}</option>
                    </select>
                    </div>
                    <div class="col-md-4">
                        <input ng-model="$root.citySearch" ng-change="getCities()" class="form-control" id="city-search" placeholder="City" type="text" name="city-search">
                    </div>
                    <div class="searches" ng-if="seeCities == true">
                        <div ng-repeat="item in cities" class="city-option">
                            <p ng-click="setCity()">{{item.city}}</p>
                        </div>
                    </div>
                    <div id="button-search" ng-click="setSearch()"><img src="frontend/view/img/search-icon.png"></div>
                </div>
            </div>
        </div>
    </div>
</header>